/** COLORS **/

:root {
    --lightTxt: #c1bcacff;
    --darkTxt: #979b8dff;
    --lightBg: #5c7457ff;
    --darkBg: #214e34ff;
}

.lightTxt {
    color: var(--lightTxt);
}

.darkTxt {
    color: var(--darkTxt);
}

.lightBg {
    background-color: var(--lightBg);
}

.darkBg {
    background-color: var(--darkBg);
}

.navlink {
    color: var(--lightTxt);
}