:root {
    --accentTxt: #f2e9e4;
    --darkBg: #3a5a40;
    --accent: #0e263b;
    --mainBg: #e0d3cc;
}

main {
    background-color: var(--mainBg);
}

.accentTxt {
    color: var(--accentTxt);
}

#lightTxt {
    color: var(--accentTxt);
}

.bgTxt {
    color: var(--bgTxt);
}

.lightBg {
    background-color: var(--lightBg);
}

.darkBg {
    background-color: var(--darkBg);
}

.accentBg {
    background-color: var(--accent);
}

#navbar-toggler {
    background-color: var(--lightTxt);
}

section h2 {
    letter-spacing: 0.5em;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space: nowrap;
}